* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  height: 100%;
}

body {
  margin-bottom: 60px;
  font-family: "IBM Plex Sans", Arial, Helvetica, sans-serif;
  background-color: #161616;
  color: #FFF; 
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1
}

.grid {
    margin: 0 auto;
    max-width: 1300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
}

@media (max-width: 900px) {
  .grid {
    max-width: 700px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 2rem;
  }
}

.form-select {
    background-color: #262626;
    color: #f4f4f4;
    border-radius: 0;
    border: none;
    margin-bottom: 1rem;
    transition: none;
}

.form-select:focus {
  border-color: #fff;
  box-shadow: 0 0 0 2px #fff;
}

textarea {
    background-color: #262626;
    color: #f4f4f4;
    border: none;
    border-bottom: 1px solid #6f6f6f;
    outline: 2px solid transparent;
    outline-offset: -2px;
    padding: 0.6875rem 2.5rem 0.6875rem 1rem;
    resize: none;
    width: 100%;
}

textarea:active,
textarea:focus {
    outline: 2px solid #fff;
}

button {
    background-color: #0f62fe;
    border-color: #0f62fe;
    color: #fff;
    font-size: 0.875rem;
    letter-spacing: 0.16px;
    line-height: 1.125rem;
    border: none;
    border-width: 3px;
    border-style: solid;
    border-color: rgba(0,0,0,0);
    padding: 6px 16px;
    margin-top: 3px;
    transition: all 70ms cubic-bezier(0, 0, 0.38, 0.9);
}

button:hover {
    background-color: #0353e9;
}

button:active {
    background-color: #002d9c;
}

#sourceControls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#characterLimit {
  font-size: 14px;
}

.footer {
  padding: 1rem;
}


/* React app styles */

body {
  font-size: .875rem;
}

.text-translation {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: relative;
}

.text-translation .form {
  position: relative;
  width: 45%;
  max-width: 600px;
}

.text-translation .form .character-limit {
  position: absolute;
  right: 0;
  top: 285px;
}

.text-translation .form .detected-language-container {
  position: absolute;
  top: 285px;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.text-translation .translation-output {
  cursor: default;
}

.language-dropdown {
  min-width: 300px;
  max-width: 300px;
}

.dropdown {
  display: inline-block;
  width: 300px;
}

.dropdown .selected-item {
  border: none;
  border-bottom: 1px solid #6f6f6f;
}

.dropdown .option {
  width: 100%;
  height: 2.5rem;
  cursor: pointer;
  color: #f4f4f4;
  display: flex;
  align-items: center;
  padding: 0 3rem 0 1rem;
  background: #262626;
  position: relative;
}

.dropdown .option:hover {
  background: #353535;
}

.dropdown .selected-item .open-close-arrow {
  transition: transform 100ms;
}

.dropdown .selected-item .open-close-arrow.active {
  transform: rotate(180deg);
}

.dropdown .selected-item .open-close-arrow svg {
  height: 100%;
}

.dropdown .dropdown-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  min-width: 600px;
  box-shadow: 0px 8px 16px 0px black;
  z-index: 1;
  background: #262626;
  transition: all 0.25s ease-in-out;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
}

.dropdown .dropdown-content.active {
  opacity: 1;
  visibility: visible;
}

.dropdown .dropdown-content .search-bar {
  position: relative;
}

.dropdown .icon {
  position: absolute;
  top: 0;
  right: 1rem;
  bottom: 0;
  height: 100%;
}

.dropdown .dropdown-content .search-bar .clear-icon {
  cursor: pointer;
}

.dropdown .option .check-icon {
  display: none;
}

.dropdown .option .check-icon.active {
  display: block;
}

.copy-container {
  position: absolute;
  cursor: pointer;
  top: 50px;
  right: 15px;
  z-index: 1;
}

.copy-container .tooltiptext {
  visibility: hidden;
  background-color: white;
  color: black;
  text-align: center;
  padding: 5px 0;
  border-radius: 0.125rem;
  width: 80px;
  top: 130%;
  left: 50%;
  margin-left: -40px;
  position: absolute;
  z-index: 1;
}

.copy-container .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent white transparent;
}

.copy-container.active .tooltiptext {
  visibility: visible;
}

.text-input:focus, .text-input:active {
  outline: 2px solid #fff;
  outline-offset: -2px;
}

.form-item {
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.125rem;
  letter-spacing: .16px;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  align-items: flex-start;
}

.text-area-wrapper {
  position: relative;
  display: flex;
  width: 100%;
}

.text-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.text-translation .form textarea {
  padding: 0.6875rem 2.5rem 0.6875rem 1rem;
  resize: none;
}

.text-translation .text-area {
  font-size: 20px;
}

.text-input {
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.125rem;
  letter-spacing: .16px;
  outline: 2px solid transparent;
  outline-offset: -2px;
  background-color: #262626;
  width: 100%;
  height: 2.5rem;
  padding: 0 1rem;
  color: #f4f4f4;
  border: none;
  border-bottom: 1px solid #6f6f6f;
  transition: background-color 70ms cubic-bezier(0.2, 0, 0.38, 0.9),outline 70ms cubic-bezier(0.2, 0, 0.38, 0.9);
}

.text-area {
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: .16px;
  outline: 2px solid transparent;
  outline-offset: -2px;
  background-color: #262626;
  width: 100%;
  min-width: 10rem;
  min-height: 2.5rem;
  padding: 0.6875rem 1rem;
  color: #f4f4f4;
  order: 3;
  resize: vertical;
  border: none;
  border-bottom: 1px solid #6f6f6f;
  transition: background-color 70ms cubic-bezier(0.2, 0, 0.38, 0.9),outline 70ms cubic-bezier(0.2, 0, 0.38, 0.9);
}

.dropdown .dropdown-content .columns {
  display: flex;
  flex-direction: row;
}

.dropdown .option {
  width: 100%;
  height: 2.5rem;
  cursor: pointer;
  color: #f4f4f4;
  display: flex;
  align-items: center;
  padding: 0 3rem 0 1rem;
  background: #262626;
  position: relative;
}