@page
@model IndexModel

<form class="app" method="post">
    <div class="form-section">
        <select asp-for="SourceId" asp-items="Model.SourceOptions" class="form-select" aria-label="Source language">
            <option value="">-- Select Language --</option>
        </select>
        <textarea asp-for="Text" cols="80" rows="10" placeholder="Enter text" maxlength="10000" ></textarea>
        <button>Translate</button>
    </div>
    <div class="form-section">
        <select asp-for="TargetId" asp-items="Model.TargetOptions" class="form-select" aria-label="Target language">
            <option value="">-- Select Language --</option>
        </select>
        <textarea id="translation" cols="80" rows="10" placeholder="Translation" readonly>@Model.Translation</textarea>
    </div>
</form>
