@page
@model IndexModel

<div class="grid">
    <div>
        <select name="source" class="form-select" aria-label="Source language">
            @foreach (var l in Model.Languages)
            {
                if (l.SupportedAsSource == true)
                {
                    <option value="@l.CountryCode">@l.LanguageName</option>
                }
            }
        </select>
        <textarea cols="80" rows="10" placeholder="Enter text" maxlength="10000" ></textarea>
        <div>
            <button>Translate</button>
        </div>
    </div>
    <div>
        <select name="target" class="form-select" aria-label="Target language">
            @foreach (var l in Model.Languages)
            {
                if (l.SupportedAsTarget == true)
                {
                    <option value="@l.CountryCode">@l.LanguageName</option>
                }
            }
        </select>
        <textarea cols="80" rows="10" placeholder="Translation" readonly></textarea>
    </div>
</div>