@page
@model IndexModel

<form class="grid" method="post">
    <div>
        <select asp-for="SourceLanguage" asp-items="Model.SourceOptions" class="form-select" aria-label="Source language">
        </select>
        <textarea asp-for="SourceText" cols="80" rows="10" placeholder="Enter text" maxlength="10000" ></textarea>
        <div id="sourceControls">
            <button>Translate</button>
        </div>
    </div>
    <div>
        <select asp-for="TargetLanguage" asp-items="Model.TargetOptions" class="form-select" aria-label="Target language">

        </select>
        <textarea cols="80" rows="10" placeholder="Translation" readonly>@Model.TargetText</textarea>
    </div>
</form>
