<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Translate</title>
</head>
<body>
    <h1>Translate</h1>

    <form class="container">
        <div class="row">
            <div class="column col-md-6">
                <select class="form-select" aria-label="Default select language">
                    <option value="detect">Detect Language</option>
                    <optgroup label="Languages">
                    {% for l in languages -%}
                        {% if l.supported_as_source %}
                            <option value="{{l.language}}">{{l.language_name}}</option>
                        {% endif %}
                    {% endfor %}
                    </optgroup>
                </select>
                <textarea aria-label="Input text area" placeholder="Enter text" rows="3"></textarea>
            </div>
            <div class="column col-md-6 output">
                <select class="form-select" aria-label="Default select language" required>
                    <option value="">-Select-</option>
                    <optgroup label="Languages">
                    {% for l in languages -%}
                        {% if l.supported_as_target %}
                            <option value="{{l.language}}">{{l.language_name}}</option>
                        {% endif %}
                    {% endfor %}
                    </optgroup>
                </select>
                <div id="translation" aria-label="Output text area">Translation</div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Translate</button>
    </form>

    <script src="{{ url_for('static', filename= 'js/main.js') }}"></script>
</body>
</html>